/* Page */
* {
    box-sizing: border-box;
font-family: 'Spectral';
}



body {
    background: linear-gradient(333deg, rgba(0,50,110,1) 11%, rgba(230,230,230,1) 31%);

}

.divider {
    border-bottom: 2pt black solid;
    margin: 1rem 0 1rem 0;
}
/* Header 
.
.container-fluid {
    background-color:  rgba(0,42,92,1);}
*/

.head-divider {
  border-bottom: 2pt black solid;
  margin: 0rem 0 1rem 0;
}

.head-divider-gal {
  border-bottom: 2pt black solid;
  margin: 0rem 0 .2rem 0;
}

.head-color {
    background-color: white;
    color: navy;
}

.nav-item{
  font-size: large;
  font-weight: bold;
}



.head-title
{
  font-family: 'Spectral', serif;
  letter-spacing: .35px  ;

  font-size: 3.3rem;
  margin-bottom: 1.5rem;
  color:  rgb(0,42,92);
  ;
  font-weight:bold;
 text-align: center;
}


/* services */
.services {
  padding: 0rem 1rem;

}

.service-title {
    display: flex;
    justify-content: center;
}

.services h2 {
    font-family: 'Spectral', serif;

  font-size: 2.75rem;
  margin-bottom: 1.5rem;
  color:  rgb(0,42,92);
  ;
  font-weight: bolder;
 
}

.services h3 {
    color:  rgb(0,42,92);
    font-weight: bolder;
  font-size: 2rem;
  margin: .5rem 0 0 0;
}

.services h4{
  font-size: 2.5rem;
  text-decoration: underline;
  color:  rgb(0,42,92);
  letter-spacing: .18px  ;
  margin: 2rem 0 .4rem 0;
text-align: center;
padding:.1rem 0 .2rem 0;
}


.blackBox {
    padding: 1rem;
    border-radius: 10px;
    color: black;
    font-size: 1.4rem;
    line-height: 1;
  }

  .blackBoxSmall {
    padding: 1rem;
    border-radius: 10px;
    color: black;
    font-size: 1.5rem;
    line-height: 1;
    margin-top: 3rem;
  }
  
  .services-list {
    list-style-type: initial;
    padding: 0;
    margin: .2rem 0 1.5rem 0;
    display: flex;
     flex-flow: column wrap;
    
   justify-content: space-evenly;
   align-items: center;
   gap: 1rem;
   font-size: 1.6rem;
   border-radius: 12px;
  
  }

.service-img {
    flex-direction: row;
    margin: 1.3rem 0rem 1rem 0;
    border-radius: 1rem;
    border-left: 1px solid rgb(0,42,92);
    border-top: 1px solid rgb(0,42,92);
    border-radius: 25px;
    padding: 1rem;
    height: 22.5rem;
    width: 22 rem;
  }
  img {
    width: 80%;
  }

  @media (min-width:550px) {
    article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      
    }
    
    .text {
      order: 2;
      text-align: left;
    }
    #projects ul {
      justify-content: flex-end;
    }
    img {
      order: 1;
    }
  
    .serve-style-one h3, .projectOne h4{
        color:  rgb(0,42,92);
    }
  
    .serve-style-two .text {
      order: 1;
      text-align: left;
    }
    .serve-style-two img {
      order: 2;
      display: flex;
      flex-direction: row;
      margin: 1.3rem 0rem 0rem 8.3rem;
      border-radius: 1rem;
      border-right: 1px solid rgb(0,42,92);
      border-top: 1px solid rgb(0,42,92);
      border-left: none;
      border-radius: 25px;
      padding: 1rem;
      height: 22.5rem;
      width: 22 rem;
    }
      
    }
  
    .serve-style-two h3, .projectTwo h4 {
        color:  rgb(0,42,92);
    }




/*footer*/

footer {
    text-align: center;
    justify-content: center;
    color: black
}

.footer-list {
    list-style: none;
    font-size: larger;
    color: black
}

.footer-item {
   color: black
}

.gmap_canvas {
    display: flex;
    justify-content: center;
   
    
}

.map-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: black
};

.adress {
  color: rgb(0,42,92);
}

.fa-phone {
color: #0d6efd;
}

.contact-info-home{
  color: white;
}

.contact-info-home h2 {
  color: white;
}

/*  gallery only */

.gal-title {
  font-size: 1.5rem;
}

.gal-column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.gal-column .gal-img {
  opacity: 0.8; 
  cursor: pointer; 
}

.gal-column .gal-img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.gal-row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.gal-container {
  position: relative;
  display: none;
  height: 80%;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 40px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: black;
  font-size: 50px;
  cursor: pointer;
}

#expandedImg {
  width: 100%;
}

@media (min-width:550px) { 
  #expandedImg {
    width: 60%;
    height: 10%;
    justify-content: center;
  }

  .gal-container{ display: flex;
    justify-content: center;
    text-align: center;
  }
  .carousel-inner img{
    width: 60%;

  }
}

.gal-divider {
  border-bottom: 1pt black solid;
  margin: .2rem 0 .2rem 0;
}


/* training section specific */

.train-box{
  text-align: center;
  font-size: larger;
}

.train-box h3{
  font-size: 2rem;
  color: rgb(0,42,92);
}

.train-box h4 {
color: black;
font-size: 1.7rem;
}

.train-box h5 {
  color: black;
  font-size: 1.35rem;
}

.img-box {
  display: flex;
  flex-direction: column;
}

.train-img {
  flex-direction: row;
    margin: 1rem 0rem 1rem 0;
  
    border-radius: 25px;
    padding: 1rem;
    height: 17rem;
    width: 15 rem;
}


@media (min-width:550px) {
  .img-box{
    display: flex;
    flex-direction: row;
  }

  .train-img {
    flex-direction: row;
      margin: 1rem 0rem 1rem 0;
    
      border-radius: 25px;
      padding: 1rem;
      height: 21rem;
      width: 15 rem;
  }
}
